[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg = {extras = ["binary"], version = "*"}
django-environ = "*"
djangorestframework = "*"
pillow = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
pyjwt = "*"
djoser = "*"
drf-spectacular = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
